.git
.gitignore
.ruff_cache
**/.coverage
**/.env
**/.env.*
!**/.env.example
**/.venv
**/__pycache__
**/coverage
**/dist
**/htmlcov
**/node_modules
**/playwright-report
**/test-results
backend
frontend
node_modules
*.log
